include ../../common.blocks/logo-sign/logo-sign.pug

<!DOCTYPE html>
html(lang="en" class="text")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            block title
    body(style="margin: 0;")
        header.ui-kit__header
            +logo-sign(class="ui-kit__logo")
        main.ui-kit__main
            block content