.font-example__label {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: normal;
    color: rgba($color: #1F2041, $alpha: 0.25);
    text-transform: capitalize;
    text-align: right;
    margin-right: 30px;
}