.colors-and-type {
    
    &__font-example {
        align-self: flex-start;
        width: 403px;
        margin-right: 190px;
        margin-top: 5px;
    }

    &__palette {
        margin-left: 150px;
        margin-top: 5px;
    }
}