mixin item(label, text)
    - 
        const classes = {
            'h1': 'text_title',
            'h2': 'text_sub-title',
            'h3': 'text_label',
            'body': 'text'
        }
    .font-example__label(class=classes[label])= label
    .font-example__text(class=classes[label])= text

mixin font-example
    - 
        const examples = {
            'h1': 'This one is the sub-section or widget title',
            'h2': 'Next one is the item title inside widgets',
            'h3': 'This is a label or CTA text',
            'body': 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'
        }
    .font-example&attributes(attributes)
        each text, label in examples
            +item(label, text)
    